*{
  cursor: default;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(255, 145, 253);
  /* border-radius: 8px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: plum; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: purple; 
  transition: all 0.5s ease;
}

.rotate{
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .glasss{
    background: rgba(255, 255, 255,  0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3)
  }